{% extends "base.html" %}
{% block maincontent %}
<div style="position:absolute;bottom:20px;width:98%">
	<div style="width:400px;text-align:center;border:1px solid;margin:0 auto">
		<form action="/" method="POST" style="margin:0;padding:10px">
			User Input: <input name=" " autofocus></input>
			<input type="submit">
		</form>
	</div>
</div>
<div id="userbox">

</div>
<script type="text/javascript" charset="utf-8">
    var source = new EventSource('/stream');
    source.onmessage = function(ev) {
        if (ev.data && ev.data === 'refresh') {
            $('#userbox').load("/show");
        }
    };
</script>
{% endblock %}
